.footer {
  background: rgb(29, 29, 29);

  padding-top: 150px;
  padding-bottom: 0;
}
.footer-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 50px;
}

.footer-info {
  min-width: 350px;
}

.footer-info h1 {
  font-family: "Roboto Mono", monospace;
  color: rgb(211, 211, 211);
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-info p {
  font-family: "Roboto Mono", monospace;
  color: rgb(155, 155, 155);
  font-size: 18px;
}
.footer-section {
  margin-bottom: 50px;
}

.footer-icons a img {
  width: 20px;
  margin-right: 15px;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}
.footer-section ul li a {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  color: rgb(155, 155, 155);
  font-size: 18px;
}

.footer-section ul li a:hover {
  color: rgb(211, 211, 211);
}

.footer-bottom {
  text-align: center;
  background: rgb(12, 12, 12);
  color: rgb(104, 104, 104);
  font-size: 12px;
  padding: 25px 0;
  margin-top: 150px;
}

@media only screen and (max-width: 1000px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
  }

  .footer-info {
    text-align: center;
    width: 100%;
  }
  .footer-section ul li {
    display: inline-block;
    margin: 0 15px;
  }
}

@media only screen and (max-width: 700px) {
  .footer-main {
    padding: 0 15px;
  }
}
